<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Estudio</title>
</head>

<body>

    {%extends "AppJuegos/padre.html"%}
    {%load static%}

    {% block titulo %}
    Crear nuevo estudio
    {%endblock%}

    {%block contenidoQueCambia %}

    <section class="contenedorCambiante">
        <h1>Ingresa los datos para agregar un nuevo estudio</h1>

        <form action="" method="POST" class="formEstudio">
            {% csrf_token %}

            {{form.as_p}}

            <input type="submit" , value="Agregar" class="inputsForms">
        </form>


    </section>
    {%endblock%}


</body>

</html>