<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Estudio</title>
</head>

<body>

    {%extends "AppJuegos/padre.html"%}
    {%load static%}

    {% block titulo %}
    Eliminar {{object}}
    {%endblock%}

    {%block contenidoQueCambia %}

    <section class="contenedorCambiante">


        <form action="" method="POST" class="formEstudio">{% csrf_token %}

            <p>¿ Estas seguro de que queres eliminar el estudio: {{object}}?</p>

            <input type="submit" value="Eliminar" name="" id="" class="inputsForms">
        </form>
  
    </section>
    {%endblock%}


</body>

</html>