<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudios de desarrollo</title>
</head>

<body>

    {%extends "AppJuegos/padre.html"%}
    {%load static%}

    {% block titulo %}
    Aca se ven los estudios de desarrollo de videojuegos
    {%endblock%}

    {% block agregar %}

    {% if user.is_authenticated %}

    <button class="btn btn-primary"> <a href="{%url 'crearEstudios'%}"> Agregar nuevo juego de PS5</a></button>

    {% endif %}

    {%endblock%}

    {%block contenidoQueCambia %}

    <section class="contenedorCambiante">

        <div class="contendores">
            {% for x in object_list %}

            <div class="cards">
                <p>{{x.nombre}}</p>
                <p>{{x.lanzamientosFamosos}}</p>

                {% if user.is_authenticated %}
                <button>
                    <a href="{% url 'actualizarEstudio' x.id %}" > Actualizar </a>
                </button>
                {% endif %}

                {% if user.is_authenticated and user.is_staff %}
                <button>
                    <a href="{% url 'eliminarEstudio' x.id %}">Eliminar</a>
                </button>
                {% endif %}


            </div>

            {% endfor %}
        </div>

    </section>
    {%endblock%}


</body>

</html>