<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario - Agregar Estudio</title>
</head>
<body>

    <h1>Ingresa los datos para agregar un nuevo estudios de desarrollo</h1>

    {% if miFormulario.errors %}

    <p style="color: red;"> Estan mal los datos, revisar</p>

    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}

        <table>

            {{miFormulario.as_table}}
        </table>

        <input type="submit", value="enviar">
    </form>
    
</body>
</html>