<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leer Mas PS5</title>
</head>

<body>

    {%extends "AppJuegos/padre.html"%}

    {%load static%}

    {% block titulo %}

    {% if juego %}

    Estas viendo la info de {{juego.nombre}}

    {% endif %}

    {%endblock%}

    {%block contenidoQueCambia %}

    <section class="contenedorCambiante" id="contenedorMas">

        {% if juego %}

        <div class="cardMas">

            <div class="titulo">

                <img id="imgJuegos" src="{{juego.imagen.url}}" alt="">

                <p> {{juego.nombre}}</p>

            </div>

            <div class="descripcion">

                <p> Género: {{juego.genero}}</p>
                <p> Año: {{juego.año}}</p>
                <p> Descripción:{{juego.descripcion}}</p>


            </div>

            <p class="fechaPost"> Fecha del post: {{juego.fecha}}</p>

        </div>

        {% endif %}

    </section>

    {%endblock%}


</body>

</html>