<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leer mas sobre el juego</title>
</head>

<body>

    {% if juego %}

    <ul>
        
        <li> {{juego.nombre}}</li>
        <li> {{juego.genero}}</li>
        <li> {{juego.año}}</li>
        <li> {{juego.descripcion}}</li>
        <li>
            <img id="imgJuegos" src="{{juego.imagen.url}}" alt="">
        </li>
        <li> {{juego.fecha}}</li>
        
    </ul>

    {% endif %}

</body>

</html>