<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    {%extends "AppJuegos/padre.html"%}
    {%load static%}

    {% block titulo %}
    Inicio de sesion
    {%endblock%}

    {%block contenidoQueCambia %}

    <section class="contenedorCambiante">

        <h1>Ingresa tus datos para iniciar sesion</h1>

        {% if form.errors %}
    
        <p style="color: red;"> Estan mal los datos, revisar</p>
    
        {% endif %}
    
        <form action="" method="POST">
        
            {% csrf_token %}
    
                {{form}}
    
            <button type="submit"> Iniciar Sesion</button>
    
        </form>

    </section>
         
    {%endblock%}

</body>
</html>
