<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title></title>
    <link href="{% static '/AppJuegos/css/estilos.css' %}" rel="stylesheet" />
</head>

<body>
    <nav class="menuPrincipal">
        <div class="contendorMenu">
            <a href="{% url 'Inicio' %}">Inicio</a>
            <a href="{% url 'verJuegosPS4' %}">Juegos PS4</a>
            <a href="{% url 'verJuegosPS5' %}">Juegos PS5</a>
            <a href="{% url 'listaDeEstudios' %}">Estudios</a>
            <a href="{% url 'about' %}">Sobre mi</a>

            {%if user.is_authenticated %}
            <div class="perfil">

                {% with first_image=user.avatarimagen_set.last %}
                {% if first_image %}
                <a href="{{first_image.imagen.url}}" target="_blank"></a>
                <a href="{% url 'agregarAvatar' %}"><img src="{{first_image.imagen.url}}" alt="avatar" id="avatar"></a>

                {% else %}

                <a href="{% url 'agregarAvatar' %}" title="agregar avatar"><img
                        src="{% static '/AppJuegos/assets/img/sinAvatar2.png' %}" alt="sin avatar" id="sinAvatar"></a>


                {% endif %}
                {% endwith %}

                <p>{{user.username}}</p>

                <a href="{% url 'editarPerfil' %}" title="editar perfil"><img
                        src="{% static '/AppJuegos/assets/img/editar2.png' %}" alt="editar perfil"
                        id="editarPerfil"></a>


            </div>

            <button><a href="{% url 'logout' %}">Cerrar Sesion</a> </button>

            {% else %}

            <button><a href="{% url 'register' %}">Registrarse</a></button>
            <button><a href="{% url 'login' %}">Iniciar Sesion</a></button>

            {% endif %}

        </div>
    </nav>


    <header class="tituloPrincipal">

        <h1 class="mb-5">{% block titulo %}{%endblock%}</h1>
        <div>

            {% block agregar %}{%endblock%}

        </div>

    </header>


    {% block contenidoQueCambia %}
    {%endblock%}


    <footer>
        <a href="https://github.com/RodrigoEzequielVazquez" target="_blank"><img src="{% static '/AppJuegos/assets/img/git-hub2.png' %}" alt="github"></a>
        
        <p>
            Gracias por ver!
        </p>
        
    </footer>


</body>

</html>