<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permiso denegado</title>
</head>
<body>

    {%extends "AppJuegos/padre.html"%}
    {%load static%}

    {% block titulo %}
    Permiso denegado
    {%endblock%}

    {%block contenidoQueCambia %}

    <section class="contenedorCambiante">

        <h1>Solo los administradores pueden realizar esa accion!</h1>

        
    </section>
         
    {%endblock%}

</body>
</html>
