<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudios de desarrollo</title>
</head>

<body>

    {%extends "AppJuegos/padre.html"%}
    {%load static%}

    {% block titulo %}
    Aca se ven los estudios de desarrollo de videojuegos
    {%endblock%}

    {% block agregar %}

    <button class="btn btn-primary"> <a href="{%url 'estudiosFormulario'%}"> Agregar nuevo estudio</a></button>
  
    {%endblock%}

    {%block contenidoQueCambia %}

    <section class="contenedorCambiante">

        <div class="contendores">
            {% for x in estudios %}

            <div class="cards">
                <p>{{x.nombre}}</p>
                <p>{{x.lanzamientosFamosos}}</p>

                <button>
                    <a href="{% url 'actualizarEstudio' x.id %}" > Actualizar </a>
                </button>

                <button>
                    <a href="{% url 'eliminarEstudio' x.id %}" > Eliminar </a>
                </button>

            </div>

            {% endfor %}
        </div>

    </section>
    {%endblock%}


</body>

</html>