<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juegos PS4</title>
</head>

<body>

    {%extends "AppJuegos/padre.html"%}
    {%load static%}

    {% block titulo %}
    Aca se ven los juegos de PS4
    {%endblock%}

    {% block agregar %}

    {% if user.is_authenticated %}

    <button class="btn btn-primary"> <a href="{%url 'juegosPS4Formulario'%}"> Agregar nuevo juego de PS4</a></button>

    {% endif %}

    {%endblock%}

    {%block contenidoQueCambia %}

    <section class="contenedorCambiante">

        <div class="contendores">
            {% for x in juegos %}

            <div class="cards">
                <p>{{x.nombre}}</p>
                <p>{{x.genero}}</p>
                <p>{{x.descripcion}}</p>
                <p>{{x.año}}</p>
                <img id="imgJuegos" src="{{x.imagen.url}}" alt="">
                <p>{{x.fecha}}</p>

                {% if user.is_authenticated and user.is_staff %}
                <button>
                    <a href="{% url 'eliminarJuegoPS4' x.id %}">Eliminar</a>
                </button>
                {% endif %}

                {% if user.is_authenticated %}
                <button>
                    <a href="{% url 'actualizarJuegosPS4Formulario' x.id %}">Editar</a>
                </button>
                {% endif %}

                <button>
                    <a href="{% url 'leerMasPS4' x.id %}"> Ver </a>
                </button>

            </div>

            {% endfor %}
        </div>
    </section>
    {%endblock%}


</body>

</html>