<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juegos PS5</title>
</head>

<body>

    {%extends "AppJuegos/padre.html"%}
    {%load static%}

    {% block titulo %}
    Aca se ven los juegos de PS5
    {%endblock%}

    
    {% block agregar %}

    <button class="btn btn-primary"> <a href="{%url 'juegosPS5Formulario'%}"> Agregar nuevo juego de PS5</a></button>
  
    {%endblock%}

    {%block contenidoQueCambia %}

    <section class="contenedorCambiante">

        <div class="contendores">
            {% for x in juegos %}

            <div class="cards">
                <p>{{x.nombre}}</p>
                <p>{{x.genero}}</p>
                <p>{{x.anio}}</p>
                
            </div>

            {% endfor %}
        </div>
    </section>
    {%endblock%}

</body>

</html>